$black:black;
$white:white;

* {
    box-sizing: border-box;
}

body {

    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 20px;
}

header {
    padding-top: 50px;
    background-color: #87509c;
    color: $white;
}

.header__menu {

    display: flex;
    justify-content: space-between;

    .header__logo {
        padding-left: 40px;
    }

    li {
        display: inline-block;
        padding: 10px 16px;
        border-radius: 8px;

        &:hover {
            background-color: #643a79;
        }
    }

    li+li {
        margin-left: 10px;
        ;
    }

    a {
        text-transform: uppercase;
        font-size: 16px;
        color: $white;
        line-height: 18px;
    }

}

.header__content {


    padding: 140px 95px;

    p {

        font-size: 42px;
        text-align: center;
        font-weight: 600;
        line-height: 49px;
        //padding-bottom: 60px;
    }

    a {
        display: block;
        width: 295px;
        color: $white;
        font-size: 18px;
        line-height: 26px;
        margin: 60px auto 0px;
        background-color: #eb7d4b;
        padding: 25px 0px;
        text-align: center;


    }

}

.services {
    background-color: #17c2a4;
    padding-top: 115px;
    color: $white;
}

.services__top,
.team__top,
.skills__top,
.portfolio__top,
.about__top {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;


    .services__title,
    .team__title,
    .skills__title,
    .portfolio__title,
    .about__title {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: .1px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .services__text,
    .team__text,
    .skills__text,
    .portfolio__text,
    .about__text {
        font-size: 18px;
        line-height: 26px;
        padding: 28px 0px 80px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            border: 2px solid #14a58c;
            width: 88px;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }

    }
}



.services__items,
.team__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 125px;



    .team__item-foto {
        width: 200px;
        height: 200px;
        background-color: #878787;
        border-radius: 50%;
        display: inline-block;
    }



    .services__item,
    .team__item,
    .skills__item {
        max-width: 260px;
        text-align: center;

        .services__item-title,
        .team__item-title {
            text-transform: uppercase;
            padding-top: 60px;
            font-size: 24px;
            line-height: 18px;
            font-weight: 500;
        }


        .team__item-position {
            padding-top: 15px;
            color: #30bae7
        }

        .services__item-text,
        .team__item-text {
            font-size: 16px;
            line-height: 24px;
            padding: 25px 30px 0px;
            height: 185px;
        }

        .team__item_social {
            display: flex;
            justify-content: center;

            div {
                margin: 0px 6px;
                height: 35px;
                width: 35px;
                background-color: #bdd1df;
                border-radius: 50%;

                &:hover {
                    background-color: #17c2a4;
                    ;
                }
            }

            .team__item_social-facebook,
            .team__item_social-twetter,
            .team__item_social-in,
            .team__item_social-mail {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    background-image: url(../img/socia_facebook.png);
                    background-repeat: no-repeat;
                    height: 35px;
                    width: 35px;
                    top: -10px;
                    top: -9px;
                    left: -13px;
                }
            }

            .team__item_social-twetter {
                &:before {
                    background-image: url(../img/social_twitter.png);
                }
            }

            .team__item_social-in {
                &:before {
                    background-image: url(../img/social_lin.png);
                }
            }

            .team__item_social-mail {
                &:before {
                    background-image: url(../img/social_mail.png);
                }
            }
        }
    }

    .services__item+.services__item,
    .team__item+.team__item {
        padding-left: 20px;

    }

}

.team {
    background-color: #e7f1f8;
    padding-top: 115px;
    color: $black;

    .team__text:before {
        border-color: #c8d9e5;

    }
}

.skills {
    background-color: #fff;
    padding-top: 115px;
    color: $black;

    .skills__text:before {
        border-color: #dfe8ed;

    }

    .skills__items {
        display: flex;
        padding-bottom: 125px;

        .skills__item {

            max-width: 260px;
            width: 100%;

            text-align: center;

            .skills__item-title {

                text-transform: uppercase;
                padding-top: 60px;
                font-size: 24px;
                line-height: 18px;
                font-weight: 500;

            }
        }

        .skills__item+.skills__item {
            margin-left: 20px;
        }
    }
}


.portfolio {
    background-color: #ffdd99;
    padding: 115px 0px;
    color: $black;

    .portfolio__text:before {
        border-color: #e5c37f;
    }

    .portfolio__btn {
        background-color: #17c2a4;
        border-bottom: 4px solid #14a58c;
        color: $white;
        margin: 0 auto;
        width: 295px;
        text-align: center;
        padding: 28px 55px;
    }
}


.portfolio__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .portfolio__item {
        padding-bottom: 60px;

        .portfolio__item-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            padding-top: 30px;
        }
    }
}

.ft-contents {
    max-width: 1100px;
}

.about {
    background-color: #d74680;
    padding-top: 115px;
    color: $white;

    .about__text::before {
        border-color: #b73c6d;
    }

    .about__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .about__item {
            max-width: 540px;
            padding-bottom: 140px;

            .about__item-left {
                height: 100px;
                width: 100px;
                background-color: #787878;
                border-radius: 50%;
                float: left;
            }

            .about__item-right {
                padding-left: 150px;

                .about__item-text {
                    font-size: 21px;
                    line-height: 31px;
                    padding-bottom: 25px;
                }

                .about__item-name {
                    text-transform: uppercase;
                    font-size: 24px;
                    line-height: 26px;
                    padding-bottom: 10px;

                }

                .about__item-position {
                    font-size: 18px;
                    line-height: 26px;
                    color: #ffdd99;
                }
            }
        }
    }
}

.footer{
    background-color: #344b8e;
    ul{
        display: flex;
        justify-content: space-between;
        padding: 40px 45px;
        color: $white;
        font-size: 24px;
        line-height: 30px;
        li:hover{
            color: #30bae7;
            cursor: pointer;
        }
    }
}